* {
  padding: 0;

}

.background-image {
  overflow: hidden;
}

.part-loading {
  height: 100vh;

}

.part-loading-image {
  position: absolute;
  top: 50%;
  left: 57%;
  width: 100px;
  height: 100px;
  margin: -60px 0 0 -60px;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.SongList-margin {
  margin-left: 170px;
}

.song-list-titles {
  margin-left: 40px;
}

.SongList-image-container {
  width: 320px;
}

.SongList-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

@media (max-width: 800px) {
  .SongList-margin {
    margin-left: 0;
  }
}