* {
  padding: 0;
}

.background-image {
  overflow: hidden;
}

.part-loading {
  height: 100vh;
}

.SongList-margin {
  margin-left: 170px;
}

.song-list-titles {
  margin-left: 10px;
}

.SongList-image-container {
  width: 320px;
}

.SongList-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

@media (max-width: 800px) {
  .SongList-margin {
    margin-left: 0;
  }
}