* {
    padding: 0;
    margin: 0;
}

.side-nav {
    z-index: 1;
    top: 0;
    width: 225px;
    left: 0;
    overflow: hidden;
    z-index: 9;
    background:#020202;
}

.side-nav a {
    display: block;
    text-decoration: none;
    color: #cccccc;
    font-family: Nunito;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.015em;
    padding-left: 35px;
    margin-bottom: 20px;
}

.fas {
    padding: 14px;
    font-size: 20px;
}

.fab {
    font-size: 40px;
    margin: 40px 40px;
}

.logo {
    padding: 10px;

    font-family: Montserrat;
}

.side-nav a:hover {
    border-left: 3px solid green;
    border-left-width: 2px;


}

@media (max-width: 800px) {
    .side-nav {
        display: none;
    }
}