* {
    padding: 0
}



.ShowCage-playlist {
    width: 200px !important;
    height: 200px !important;
    position: relative !important;
    margin-bottom: 20px;
}

.ShowCage-playlist-content {
    background-size: 200px 200px !important;
    background-position: center center;
    opacity: 1;
}

.ShowCage-playlist-hover-content {
    position: absolute;
    left: 38%;
    top: 40%;
    cursor: pointer;
    opacity: 0;
}

.ShowCage-playlist:hover .ShowCage-playlist-hover-content {
    opacity: 1;
}

.ShowCage-playlist:hover .ShowCage-playlist-content {
    opacity: 0.4;

}