* {
    padding: 0;
}

.song-title {
    font-size: 16px;
    letter-spacing: 0.015em;
    font-family: Nunito;
    padding-top: 10px;
    font-weight: 700;
    word-spacing: 0.1rem;
    text-transform: capitalize;
}

.fa-play {
    transition: 1.5s;
}

.music-player {
    font-family: Nunito;
    font-weight: 700;
}

.play {
    cursor: pointer;
}

.react-jinke-music-player-main .music-player-panel .panel-content .progress-bar-content .audio-title {
    transition: color 350ms cubic-bezier(0.43, -0.1, 0.16, 1.1);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    max-width: 400px;
    font-size: 16px;
    font-family: Nunito;
    font-weight: 700;
}

.react-jinke-music-player-main .music-player-panel {
    background-color: #282828;
    font-family: Nunito;
    color: white;
    font-weight: 700;
}

.audio-lists-panel-header .title {
    font-weight: 700;
    color: white;
    font-family: Nunito;
}

.audio-lists-panel-header .delete-btn {
    padding-top: 10px;
    padding-right: 10px;
}

.audio-lists-panel-header .close-btn {
    padding-top: 10px;
    padding-left: 10px;
}

.react-jinke-music-player-mobile-toggle .text-center .group .loading {
    display: none;
}

.audio-lists-panel.show {
    border-radius: 40px;
}

.audio-lists-panel-header .line {
    margin: 10px;
}

.audio-lists-panel-content {
    font-family: Nunito;
    font-weight: 700;
}

.audio-lists-panel-content .audio-item:hover {
    background: #eeeeee;
    color: black;
}


.audio-lists-panel-content .audio-item .player-name {
    padding-right: 18px;
}

.song-title:hover {
    font-size: 16px;
    letter-spacing: 0.015em;
    font-family: Nunito;
    padding-top: 10px;
    font-weight: 700;
    word-spacing: 0.1rem;
    text-transform: capitalize;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    display: inline-block;
}