* {
    padding: 0
}

.ChartViewer {
    background-color: #151d3e;
    background-image: linear-gradient(124deg, #151d3e 0%, #040000 100%);

}

.ChartViewer-container {
    margin-left: 200px;
    padding-left: 80px;
    padding-bottom: 150px;
}

h1 {
    font-size: 36px;
    font-family: Nunito;
    font-weight: 800 !important;
    padding: 20px 0px;
    color: whitesmoke;


}

.ShowCage-playlist {

    position: relative;
    text-align: left;
    margin-right: 20px;
}

.ChartViewer-featured-list {
    display: flex;
    margin-bottom: 80px;
}

.ShowCage-playlist-content {
    width: 200px;
    height: 200px;
    background-size: 200px 200px;
    backface-visibility: hidden;
    opacity: 1;
}

.ShowCage-playlist-title {
    font-family: Nunito;
    font-size: 34px;
    padding-left: 10px;
    text-transform: capitalize;
    background-size: 200px 200px;
}



.ShowCage-playlist-title span {
    display: block;
    margin: 0;
    font-weight: 800;
}

.ShowCage-playlist-hover-content {
    position: absolute;
    left: 38%;
    top: 40%;
    cursor: pointer;
    opacity: 0;
}



.ShowCage-playlist:hover .ShowCage-playlist-hover-content {
    opacity: 1;
}

.ShowCage-playlist:hover .ShowCage-playlist-content {
    opacity: 0.4;

}