* {
    padding: 0
}

.Search {
    position: fixed;
    top: 0;
    right: 0;
    left: 220px;
    background: #282828;
    color: white;
    z-index: 1;
}

#docsearch {
    width: 100%;
    font-size: 36px;
    background: #282828;
    font-family: Nunito;
    font-weight: 700;
    padding: 13px 60px;
}

.SongsList {
    padding-top: 150px;
    padding-left: 100px;
    overflow: hidden;
}


@media (max-width:800px) {
    #docsearch {
        position: fixed;
        left: 0;
        right: 0;
    }

}